h1 {
  font-size: 2rem;
}

body {
  transition: background-color 0.4s, color 0.4s;
  background-color: white;
}

body.dark-mode {
  background-color: #29292a;
  color: #f1f1f1;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode caption {
  color: #b870ff;
}

body.dark-mode .Nom {
  color: #f1f1f1;
}

body.dark-mode .contact {
  color: #f1f1f1;
}

body.dark-mode a:hover {
  color: #b870ff;
}

input:checked + .slider {
  background-color: #636363;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#conteneurToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
